<div class="mainBox">
  <div class="mainBoxAvatar">
    <img class="mainBoxAvatarImg" src="../../assets/Photo.jpg">
  </div>
  <div class="mainBoxContact">
    <h1 class="mainBoxContactName">{{info.family}} {{info.name}} {{info.surname}}</h1>
    <p class="mainBoxContactP">Date of birth:</p>
    <p class="mainBoxContactPI">{{info.dateBirth}}</p>
    <p class="mainBoxContactP">Telephone</p>
    <p class="mainBoxContactPI">{{info.telephone}}</p>
    <p class="mainBoxContactP">email</p>
    <p class="mainBoxContactPI">{{info.email}}</p>
    <p class="mainBoxContactP">LinkedIn</p>
    <a  class="mainBoxContactPI" href="https://{{info.linkedIn}}">{{info.linkedIn}}</a>
  </div>
</div>
