.nameSkill{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 15px;
}
.skillDescriptionBox{
  height: 150px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 3px;
  margin-bottom: 20px;
  &Button{
    height: 100%;
    width: 20px;
    border: none;
    color: white;
    background-color: unset;
    font-size: 30px;
    margin-right: 20px;
  }
  &Text{
    height: 90%;
    width: 160px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    align-items: center;
    opacity: 0;
    &P{
      text-align: justify;
    }
  }
}
